body {
    padding: 50px 0px 0px 50px;
}

.container {
    text-align: center;
}

.modal-dialog {
    max-width: 800px;
}

hr {
    border-top: 2px solid black;
}

.prize-breakdown {}

.prize-breakdown ul {
    list-style-type: none;
    width: 100%
}

.prize-breakdown ul li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.prize-breakdown ul li input {
    margin-left: 25px;
    width: 25%;
}

.row3 {
    text-align: left;
}

.row3 li {
    list-style-type: none;
}

.row3 ul li {
    padding-bottom: 10px;
}