<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h2>C.H.O.P. CLOCK</h2>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-lg-6 offset-lg-3">
            <h1>Tournament Setup!</h1>
            <input type="text" ng-model="tournament.settings.name" placeholder="Enter Tournament Name">
        </div>
    </div>
    <div class="row p-4">
        <div class="col-lg-4">
            <h3>Prize Pool</h3>
            <div class="row prize-breakdown">
                <button type="button" ng-click="tournament.prizePayouts.push(null)">Add place</button>
                <ul ng-repeat="(key, value) in tournament.prizePayouts track by $index">
                    <li ng-if="key + 1 == 1">{{key + 1}}st<input ng-model="tournament.prizePayouts[$index]" type="number"></li>
                    <li ng-if="key + 1 == 2">{{key + 1}}nd<input ng-model="tournament.prizePayouts[$index]" type="number"></li>
                    <li ng-if="key + 1 == 3">{{key + 1}}rd<input ng-model="tournament.prizePayouts[$index]" type="number"></li>
                    <li ng-if="key + 1 == 4 || key + 1 == 5 || key + 1 > 5 ">{{key + 1}}th<input ng-model="tournament.prizePayouts[$index]" type="number"></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div id="start-time-and-auto-start-set">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Configure Levels
                </button>
                <timer countdown="5" interval="1000" finish-callback="tournament.roundEnd()">{{hours}} : {{minutes}} : {{seconds}}</timer>
            </div>
        </div>
        <div class="col-lg-4">
            <h3>Entrants</h3>
            <hr>
            <input ng-model="tournament.settings.entrants" type="number">
            <h3>Players Left</h3>
            <hr>
            <input ng-model="tournament.settings.playersLeft" type="number">
        </div>
    </div>
    <div class="row row3 p-2">
        <div class="col-lg-4">
            <ul>
                <li>Prize Pool:<input ng-model="tournament.settings.prizePool" type="number"></li>
                <li>ReEntries:<input ng-model="tournament.settings.reEntries" type="number"></li>
                <li>Rebuys:<input ng-model="tournament.settings.rebuys" type="number"></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>Ante:</li>
                <li>Small:</li>
                <li>Big:</li>
                <li>Limits:</li>
                <li>Bring In:</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li>Next Ante:</li>
                <li>Next Small:</li>
                <li>Next Big:</li>
                <li>Next Limits:</li>
                <li>Next Bring In:</li>
                <li>Average Stack:</li>
                <li>Next Break: minutes</li>
            </ul>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Configure Levels</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>
